<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  
  <servlet>
  <servlet-name>doEntry</servlet-name>
  <servlet-class>org.devshub.servlet.EntryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>doEntry</servlet-name>
  <url-pattern>/entryservlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>doExit</servlet-name>
  <servlet-class>org.devshub.servlet.ExitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>doExit</servlet-name>
  <url-pattern>/exitservlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  <servlet-name>profile</servlet-name>
  <servlet-class>org.devshub.servlet.ViewProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>profile</servlet-name>
  <url-pattern>/viewProfile</url-pattern>
  </servlet-mapping>
  
  
 
 
</web-app>